@model Entity.Models.Dtos.Subject.SubjectDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <h2>Create subject</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" asp-controller="Subject">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SubjectInfoId" class="control-label"></label>
                    <select asp-for="SubjectInfoId" asp-items="ViewBag.Subjects" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Module1MaxPoints" class="control-label">Module 1 max points(5-25)</label>
                    <input asp-for="Module1MaxPoints" class="form-control" />
                    <span asp-validation-for="Module1MaxPoints"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Module2MaxPoints" class="control-label">Module 2 max points(5-25)</label>
                    <input asp-for="Module2MaxPoints" class="form-control" />
                    <span asp-validation-for="Module2MaxPoints"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExamMaxPoints" class="control-label">Exam(10-40)</label>
                    <input asp-for="ExamMaxPoints" class="form-control" />
                    <span asp-validation-for="ExamMaxPoints"></span>
                </div>
                @Html.HiddenFor(subject => subject.SubjectInfoId)
                @Html.HiddenFor(subject => subject.GroupId)
                <div>
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                    <a href="##" onClick="history.go(-1); return false;" class="btn btn-danger"> Back</a>
                </div>
            </form>
            
        </div>
    </div>
</div>
