@model Entity.Models.Dtos.Subject.SubjectTestDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    <h2>Edit subject @Model.Subject.SubjectName</h2>
    <h5>Homework total sum: @Model.HomeworkSum</h5>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditSubject" asp-controller="Subject">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Subject.ExamMaxPoints" class="control-label">Exam max</label>
                    <input asp-for="Subject.ExamMaxPoints" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Subject.Module1MaxPoints" class="control-label">Exam max</label>
                    <input asp-for="Subject.Module1MaxPoints" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Subject.Module2MaxPoints" class="control-label">Exam max</label>
                    <input asp-for="Subject.Module2MaxPoints" class="form-control" />
                </div>
                
                @Html.HiddenFor(subject => subject.Subject.Id)
                @Html.HiddenFor(subject => subject.Subject.GroupId)
                <div>
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                    <a href="##" onClick="history.go(-1); return false;" class="btn btn-danger"> Cancel</a> 
                </div>
            </form>
        </div>
    </div>
</div>
