@model Entity.Models.Dtos.Subject.SubjectInfoDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}



<div class="container">
    <h2>Create subject</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditSubjectInfo" asp-controller="SubjectInfo">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Title</label>
                    <input asp-for="Title" class="form-control" />
                </div>
                @Html.HiddenFor(subject => subject.Id)
                <div>
                    <input type="submit" class="btn btn-sm btn-primary" value="Submit"/>
                    <a href="##" onClick="history.go(-1); return false;" class="btn btn-sm btn-danger"> Back</a>
                </div>
            </form>
            
        </div>
    </div>
</div>
