@model Entity.Models.Dtos.Group.AddGroupDto
@{
    ViewData["Title"] = "Create";
}


<h3 class="ml-3">Create group</h3>
<div class="col-md-4">
    <form asp-action="Create" asp-controller="Group" asp-antiforgery="true">
        <div>
            <label asp-for="GroupName" class="control-label">Group name</label>
            <input asp-for="GroupName" class="form-control"/>
        </div>
        <div class="m-3">
            <input type="submit" value="Next" class="btn btn-sm btn-success">
            <a href="##" onClick="history.go(-1); return false;" class="btn btn-sm btn-danger"> Cancel</a>
        </div>
    </form>
</div>

