@model IList<Entity.Models.Dtos.GroupDto>

@{
    ViewData["Title"] = "Index";
    var index = 1;
}

<div class="container">
    <table class="table table-striped m-5">
        <thead class="thead-dark">
        <tr>
            <th>Number</th>
            <th>Group</th>
            <th>Details</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td> @index </td>
                <td> @group.Title </td>
                <td> <a asp-controller="Group" asp-action="Details" asp-route-id="@group.Id">Details</a></td>
                <td> <a asp-controller="Group" asp-action="Edit" asp-route-id="@group.Id">Edit</a></td>
            </tr>
            index++;
        }
        </tbody>
    </table>
    <a asp-controller="Group" asp-action="Create" class="btn btn-primary">Create new group</a>
</div>

